.react-portal-modal-container {
    top: 0;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(256, 226, 226, 0.5);

}