

.register {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-light);
    display: grid;
    place-content: center;
   
}


.register-container{
   
    width: 25vw;
    height: 80vh;
    background-color: #fff;
    border-radius: var(--card-border-radius);
     
    padding: var(--card-padding);

}

.logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.name-social{
    color: var(--color-blue);
}

.logo-register{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    
}

.text-register{
    text-align: center;
    font-size: larger;
    color: var(--color-black);

}

.description-register{
    font-size: x-small;

    text-align: center;
  font-weight: 500;
  color: #656665;
  margin-bottom: 2rem;
}

.session-ways{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: .5rem;
}


.session-way{
    border: 1.5px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: .5rem;
    border-radius: 10px;
}
.text-session{
    font-size: small;
    font-weight: 500;
}

.lines-container{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 30% 35% ;
    margin-top: 1rem;
}

.line-register{
 border-bottom: 1px solid #d9d8d8;

}

.text-continue{
    font-size: xx-small;
    font-weight: 500;
    color: #656665;
    

   
}

.register-submit{
    width: 80%;
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 10px;
    margin-left: 2rem;
    background-color: var(--color-blue);
    color: #fff;

}

.error-text{
    width: 100%;
    text-align: start;
}


.inputs-form{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

}




.register-link-message{
    width: 100%;
    display: flex;
    margin-top:1rem;
    color: #656665;
    font-size: small;
    font-weight: 400;
    justify-content: center;
}
.input-register{
    margin-top: 1rem;
}
.login-remember{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
   
}


@media (max-width: 900px){
    .register-container {
        width: 50vw;
       

    }
}

@media (max-width: 600px){
    .register-container {
        width: 70vw;
        

    }
}
@media (max-width: 400px){
    .register-container {
        width: 85vw;
       

    }
}