.MessageBox-container {
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    display: grid;
    position: relative;
    grid-template-rows: 10% 80% 10%;
    width: 100%;
    width: 270px;
    height: 100%;
    max-width: 300px;
    max-height: 400px;
    background-color: #fff;

}