


.MessageBox-container.messenger{
    box-shadow: none;
    border-radius: none;
    
}

.MessageBox-container {
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.messageBox-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;

}

@media(max-width: 600px){
    .messageBox-grid{
        grid-template-rows: 7% 86% 7%;
    }
}