

.Profile .body {
  display: grid;
  gap: 2rem;
  padding-left: 17%;
  margin-top: 2rem;
  grid-template-columns: 25vw 40vw;
}

.Profile .body .left {
  position: sticky;
  top: 100px;
}

.Profile .head-down .left {
  display: flex; 
}






