.ellipsiPost-container {

  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;



}

.ellipsiComment-item {
  padding: 0.3rem;
  cursor: pointer;
}

.ellipsiComment-item:hover{
  background-color: var(--color-light);
  border-radius: 5px;

}

.ellipsiComment-text {
  font-weight: 600;
  font-size: 0.9rem;
}

