.ellipsiPost-container {
  position: absolute;
  width: 200px;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  z-index: 100;
  top: 2.5rem;
  left: -4.3rem;
}

.ellipsiComment-item {
  padding: 0.3rem;
}

.ellipsiComment-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.ellipsiComment-container::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-white);
  transform: rotate(45deg);
  top: -0.6rem;
  left: 5rem;
}