.vote-container{
    width: 100%;
    height: max-content;
    border-radius: 5px;

   position: relative;
    cursor: pointer;
    
}

.vote-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
   
    font-weight: 600;
}




