.boxMessages-container {
    position: fixed;
    width: max-content;
    max-width: 900px;
    height: 400px;
    right: 0;
    overflow: hidden;
    bottom: 0;


}

.boxMessages-row {
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 2rem;

}