.login {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;

}

.login-container{
  position: relative;
  width: 350px;
  margin-top: 2rem;
  padding: .5rem;
  height: 520px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 2px 1px 37px -24px rgba(0,0,0,0.4);
-moz-box-shadow: 2px 1px 37px -24px rgba(0,0,0,0.4);
box-shadow: 2px 1px 37px -24px rgba(0,0,0,0.4);
}

.login-icon{
  width:  15%;
  height: 10%;
  margin-top: .5rem;
}



.login-title{
  font-size: x-large;
  color:var(--color-dark)
}





.login-description{
    font-size: small;
    font-weight: 500;
    color: #656665;
    margin-bottom: 2rem;
}


.login-remember{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

}

.save-session-container{
  display: flex;
  justify-content:start ;
  align-items: center;

}

.save-session .checkBox{
  border-radius: 10px;
}
.save-session{
  font-weight: 500;
 font-size: x-small;
  color: #6E6E6E;
  margin-left: 10px;
}
.forgot-password{
  font-size: x-small;
  color: #ACACAC;
  text-align: end;
  margin-left: 2rem;
}




.login-submit-button {
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  font-size: small;
  margin-top: 30px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  background-color: #272727;
 
}

.login-submit-button-google{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: small;
  font-weight: 600;
  border-radius: 20px;
  color: #272727;
  background-color: #e8e8e8;
}


.signUp-message{
  margin-top: 4rem;
  font-weight: 400;
  font-size: small;
  color: #6E6E6E;

}

.SignUp-link{
  color: #272727;
  font-size: small;
  font-weight: 500;
}



.google-icon{
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

