.time-expiration-default-hours{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    margin-bottom: .5rem;
}
.time-expiration-item{
 display: grid;
 place-content: center;
  width: 40px;
  height: 20px;
  cursor: pointer;
 
}

.time-expiration-item:hover{
    border-radius: 20px;
    background-color: var(--color-light);
   
}

.expirePost-text{
    font-weight: 500;
    font-size: small;
    color: var(--color-black);
}