.reaction-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reaction-text {
  font-weight: 600;
  font-size: small;
  color: #515151;
  margin-left: 0.5rem;
}

.reacted-icon{
  width: 20px;
  height: 20px;
}
.popover-img-message{
  margin-left: 1.9rem;
}

@media (max-width:480px){
  .icon.like{
    display: none;
  }

  
}

