.reaction-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reaction-text {
  font-weight: 600;
  font-size: small;
  color: #515151;
  margin-left: 0.5rem;
}


.popover-img-message{
  margin-left: 1.9rem;
}
