.settings {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -10px;
  left: -20px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.settings.active {
  display: flex;
}

.settings .card {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-primary);
  text-align: center;
}

.settings .card .filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.settings .card .filter h3 {
  font-weight: 700;
  color: var(--color-dark);
}
.settings .card .filter button {
  border-radius: 5px;
  width: 50%;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}

.settings .card .filter .input {
  width: 70%;
  height: 30px;
  background: var(--color-light);
  display: flex;
  align-items: center;
  margin-left: 50px;
  border-radius: 5px;
}

.settings .card .filter .input input {
  width: 110%;
  height: 30px;
  padding: 10px;
}
