.imgInputFile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 90%;
}

.imgInputFile-img {
    width: 100%;
    height: 100%;
}

.ImgInputFile {
    position: absolute;
    max-width: 20px;
    opacity: 0;
    outline: none;
}