/* inspired form gumroad website */
.Accept-friend {
    --bg: #000;
    --hover-bg: rgb(255, 65, 65);
    --hover-text: #fff;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.2em 1em;
    background: var(--bg);
    transition: 0.2s;
    margin-left: 1rem;
    cursor: pointer;
}

.Accept-friend:hover {
    color: var(--hover-text);
    transform: translate(-0.20rem, -0.20rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.Accept-friend:active {
    transform: translate(0);
    box-shadow: none;
}