.errorMessage-comment-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.research-comments{

    padding: 0.2rem;
    box-shadow: var(--card-shadow);
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    font-weight: 500;
    

}