.message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.div {
  display: flex;
}

.div .message-body {
  margin-left: 10px;
}

.message:last-child {
  margin: 0;
}

.message p {
  font-size: 0.8rem;
}

.message .profile-photo {
  position: relative;
  overflow: visible;
}

.message .profile-photo img {
  border-radius: 50%;
}

.message .profile-photo div {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-succes);
  bottom: 1px;
  right: 1px;
}
