.sendButton-createPost {
font-family: inherit;
font-size: 15px;
background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.3em .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    
  }
  
  .sendButton-createPost:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
  
.sendButton-createPost:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
  
.sendButton-createPost span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
  }
  
  .sendButton-createPost svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  .sendButton-createPost .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  .sendButton-createPost:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .sendButton-createPost:hover svg {
    transform: rotate(45deg);
  }
  
  