.detailsProfile-container{
  width: 100%;
  height: max-content;
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  padding: var(--card-padding);
  
}

@media(max-width:400px){
  .detailsProfile-container{
    height: max-content;
  }
}


.details-tags-container{
  width: 100%;
  height: 100px;
  height: max-content;
  padding: .5rem;
  border-radius: 15px;
  border: 1px solid var(--color-light);
}
