.MessageBox-header-container {
    display: flex;
    padding: 0.3rem .5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--card-shadow);
}

.MessageBox-header-info {
    display: flex;
    justify-content: center;
    align-items: center;

}


.header-username-container {
    margin-left: .5rem;
}

.online-status {

}

.MessageBox-header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.minimize-icon {
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-right: .3rem;
    cursor: pointer;

}

.cross-icon {
    width: 15px;
    height: 15px;
    
    cursor: pointer;
}