.notification-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 1rem;
    position: relative;
    padding: .3rem;
    cursor: pointer;
}

.notification-container.unRead::before{
    content: '';
    border-radius: 50%;
    top: .5rem;
    width: 10px;
    background-color: var(--color-blue);
    height: 10px;
    position: absolute;
    right: 1rem;


}

.notification-container:hover{
    background-color: var(--color-light);
    border-radius: 10px;
}

.notification{
   display: grid;
   grid-template-columns: 15% 80% 5%;
}

.notification-info{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0.4rem;
}
.notification-text{
    font-size: smaller;
    font-weight: 500;
}


.receptor-username{
    color: var(--color-black);
    font-size: 0.8rem;
   margin-right: 0.1rem;
}

.notification-message{
    font-size: 0.7rem;
    margin-right: 0.1rem;
    color: #474747;
}

.notification-message{
    font-size: small;
    color: var(--color-black);
    font-weight: 400;
}

.time-notification{
    
    font-size: small;
    font-weight: 500;
    color: var(--color-blue);
    margin-left: 2rem;
}



