.sidebar-container{
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
  padding: .3rem;
  

}

.sidebar-item{
 display: flex;
 justify-content: start;
 align-items: center;
 padding: .3rem;
}

.sidebar-item:hover{
  background-color: #E8E8E8;
  border-radius: 5px;
}

.sidebar-text{
  font-weight: 700;
  margin-left: .5rem;
}

.sidebar-icon{
  width: 30px;
  height: 30px;
  object-fit: cover;
}