.editProfile-frontPage-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    background-color: aqua;
}

.editProfile-frontPage{
    width: 100%;
    height: 300px;

}

.modal-frontPage{
    width: 100%;
    height: 250px;
    max-height: 250px;
}

