.action-comment img {
  width: 30px;
  height: 30px;
  z-index: 1111111111;
}

.action-comment ul {
  position: absolute;
  bottom: 170px;
  right: 90px;
  background-color: var(--color-white);
  width: 323px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.19);
  z-index: 1111111111;
}

.action-comment ul:before {
  content: '';
  background: white;
  transform: rotate(45deg);
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  right: 15px;
}

.action-comment.active ul {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.action-comment ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action-comment ul li:hover {
  font-weight: 600;
}

.action-comment ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action-comment ul li img {
  margin-right: 10px;
  opacity: 0.2;
  transform: scale(0.8);
}

.action ul li:hover img {
  opacity: 0.8;
}
