.MessageActions-container{
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.1rem;
    width: 12px;
    height: 12px;
    box-shadow: var(--card-shadow);
    cursor: pointer;
}

.MessageActions-container.my-message{
    bottom:15px;
    right: -5px;
    cursor: pointer;
}

.MessageActions-container.friend-message{
    bottom:10px;
    left: -5px;
    cursor: pointer;
}

.MessageActions-icon{
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    cursor: pointer;
}


