.ellipsiPost-container {
  width: max-content;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  padding: 0.5rem;
}

.ellipsiPost-item {
  align-items:center ;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
 
}

.ellipsis-body{
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}

.ellipsi-body-item{
  display: flex;

  align-items: center;
}

.ellipsi-item-loader{
  margin-left: .5rem;
}

.ellipsiPost-description{
  font-size: x-small;
  font-weight: 600;

  color: var(--color-gray);
}


.editPost-content{
  margin-top: 5px;
  display: flex;
  align-items: center;

}
.ellipsiPost-item img {
  width: .9rem;
  height: .9rem;
  margin-right: .5rem;
}

.ellipsiPost-item:hover {
  background-color: rgb(243, 243, 243);
}



.ellipsiPost-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.favorite-length{
  font-weight: 400;
  margin-left: 30px;
  color: var(--color-gray);
}


.ellipsi-item-head{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
