.ellipsiPost-container {
  position: absolute;
  width: max-content;
  background-color: var(--color-white);
  border-radius: 0.7rem;
  box-shadow: var(--card-shadow);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  z-index: 100;
  padding: 0.5rem;
  left: -4.9rem;
  top: 2.3rem;

}

.ellipsiPost-item {
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.ellipsiPost-item img {
  width: .9rem;
  height: .9rem;
  margin-right: .5rem;
}

.ellipsiPost-item:hover {
  background-color: rgb(243, 243, 243);
}



.ellipsiPost-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.ellipsiPost-container::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-white);
  transform: rotate(45deg);
  top: -0.5rem;
  left: 9.5rem;
}